@charset "UTF-8";

*{margin: 0; padding: 0;}

/* 위아래 */
.slide {width: 300px; height: 300px; overflow: hidden; margin: 0 auto; position: relative;}
.slide .slideList {position: absolute; top: 0; left: 0;}
.slide .slideList img {width: 300px; display: block;}